* {
  padding: 0;
}
[data-href] {
  cursor: pointer;
}
body {
  background: #F7F7F7;
}
.mui-content {
  background: #F7F7F7;
}
.head-blue {
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background: url(../img/headbg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}
.head-blue h1 {
  color: #fff;
}
.head-blue a {
  color: #fff;
}
.head-blue a span {
  color: #fff;
}
.form-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-box .mui-input-row:after {
  left: 0;
  background: #F7F7F7;
}
.form-box .label {
  width: 44px;
  height: 60px;
  position: absolute;
  left: 0;
  line-height: 60px;
  top: 0;
  text-align: center;
  color: #8E8E8E;
}
.form-box .label ~ input {
  text-indent: 20px;
}
.form-box:before,
.form-box:after {
  background: #F7F7F7;
}
.form-box .mui-input-row {
  height: 60px;
}
.form-box .mui-input-row input {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
}
.form-box .mui-btn-small {
  width: auto;
  right: 10px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-box .mui-btn-small img {
  width: 96px;
  height: 33px;
  display: block;
}
.mui-btn-red {
  background: #DB3652;
}
.mui-btn-block {
  padding-top: 10px;
  padding-bottom: 10px;
}
.other-login-box .title {
  position: relative;
  line-height: 44px;
  margin-bottom: 10px;
  text-align: center;
}
.other-login-box .title:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  position: absolute;
  background: #CCCCCC;
}
.other-login-box .title span {
  display: inline-block;
  background: #F7F7F7;
  padding: 0 5px;
  position: relative;
}
.login-list {
  padding: 0 15%;
}
.login-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}
.login-list li {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
.login-list .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 100px;
  background: #57CB44;
  color: #fff;
  margin: 0 auto 10px;
}
.login-list .icon i {
  font-size: 35px;
  line-height: 60px;
}
.login-list li:nth-of-type(2) .icon {
  background: #4C97FD;
}
/*首页*/
.head-blue .logo {
  background: url(../img/logo.png) center no-repeat;
  height: 34px;
  width: 150px;
  display: block;
  margin: 5px auto 0;
  -webkit-background-size: contain;
  background-size: contain;
}
.head-blue .right {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  line-height: 44px;
}
.head-blue .right a {
  margin: 0 5px;
  display: inline-block;
  padding: 0 5px;
  color: #fff;
}
.btn-menu {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 44px;
  color: #fff;
}
.index-banner a,
.index-banner img {
  display: block;
  width: 100%;
}
.index-banner .swiper-pagination {
  bottom: 5px !important;
}
.nav1-row {
  text-align: center;
  background: #fff;
}
.nav1-row a {
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
}
.nav1-row a img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.nav1-row p {
  margin-bottom: 0;
}
.line5 {
  height: 5px;
  background: #EAEAEA;
  line-height: 5px;
  clear: both;
}
.line10 {
  height: 10px;
  background: #EAEAEA;
  line-height: 10px;
  clear: both;
}
.p10 {
  padding: 10px;
}
.m10 {
  margin: 10px 0;
}
.red {
  color: #DB3652 !important;
}
.green {
  color: green !important;
}
.yellow {
  color: #FF8C00 !important;
}
.news-open-box {
  background: #fff;
}
.news-open-box .hd {
  border-bottom: 1px solid #E8E8E8;
}
.news-open-list a {
  display: block;
  padding: 10px;
  text-align: center;
}
.news-open-list .img img {
  display: block;
  width: 100%;
}
.news-open-list div {
  font-size: 14px;
  color: #333;
}
.news-open-list .action span {
  font-size: 14px;
  display: inline-block;
  color: #fff;
  background: #DB3652;
  line-height: 1.2em;
  border-radius: 50px;
  padding: 5px 1.5em;
}
.news-open-list .mui-col-xs-4:nth-of-type(2n+2) {
  border-left: 1px solid #F7F7F7;
  border-right: 1px solid #F7F7F7;
}
.buy-box {
  background: #fff;
}
.buy-box .hd {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #F7F7F7;
}
.buy-box .hd a {
  display: inline-block;
  width: 20%;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: #333;
}
.buy-box .hd a.on {
  color: #DB3652;
}
.buy-list .mui-col-xs-6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #F7F7F7;
}
.buy-list > div:nth-of-type(2n+1) {
  border-right: 1px solid #F7F7F7;
}
.buy-list .img {
  display: block;
  padding: 10px;
}
.buy-list .img img {
  display: block;
  width: 100%;
}
.buy-list .txt {
  padding: 5px;
  line-height: 1.2em;
}
.buy-list .txt a {
  color: #333;
}
.progress-bar-box {
  padding: 5px;
}
.progress-bar {
  display: table;
  width: 100%;
}
.progress-bar > div {
  display: table-cell;
  vertical-align: middle;
}
.progress-bar > div:nth-of-type(1) {
  width: 80%;
  padding-right: 5px;
}
.progress-bar .bar-txt {
  font-size: 12px;
  color: #999;
}
.progress-bar .bar-txt b {
  font-size: 14px;
  color: #5DAAFF;
  font-weight: normal;
}
.progress-bar .bar-row {
  height: 5px;
  line-height: 5px;
  background: #F7F7F7;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.progress-bar .bar-row .bar-ing {
  display: block;
  height: 5px;
  width: 50%;
  background: #FFBE3B;
  border-radius: 5px;
}
.btn-mini {
  padding: 2px 4px;
  font-size: 12px;
}
.mui-bar-tab {
  background: #FFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}
.footer .tab-1 {
  background: url(../img/tab1.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.footer .tab-2 {
  background: url(../img/tab2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.footer .tab-3 {
  background: url(../img/tab3.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.footer .tab-4 {
  background: url(../img/tab4.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.footer .pr {
  height: 50px;
  position: relative;
}
.footer .mui-tab-label {
  color: #333;
}
.footer .mui-tab-item .mui-icon {
  top: 6px;
}
.footer .tab-logo-shadow {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 5px;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}
.footer .tab-logo-shadow-mask {
  position: absolute;
  width: 20%;
  height: 100%;
  background: #fff;
  left: 40%;
  bottom: 0;
}
.footer .tab-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 5px;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
}
.footer .tab-logo img {
  display: block;
  width: 100%;
  height: 100%;
}
/*揭晓*/
.announce-list {
  background: #fff;
}
.announce-list .img {
  display: block;
  padding: 10px;
}
.announce-list .img img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}
.announce-list .txt {
  margin: 0 5px;
}
.announce-list .txt a {
  color: #363636;
}
.announce-list .info {
  padding: 0 5px;
  font-size: 13px;
  line-height: 1.4em;
  color: #363636;
}
.announce-list .info a {
  color: #2493FF;
}
.announce-list .mui-col-xs-6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #F7F7F7;
}
.announce-list > div:nth-of-type(2n+1) {
  border-right: 1px solid #F7F7F7;
}
.blue {
  color: #2493FF;
}
/*详情*/
.footer-buy {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}
.footer-buy .col1,
.footer-buy .col2 {
  flex: 1;
}
.footer-buy .col3 {
  width: 80px;
  text-align: center;
}
.footer-buy .col3 i {
  font-size: 20px;
}
.footer-buy .col3 a {
  display: block;
  height: 60px;
  padding-top: 5px;
  color: #939393;
  font-size: 14px;
}
.footer-buy button {
  margin: 0;
  font-size: 110%;
}
.footer-buy .btn-yellow {
  width: 100%;
  height: 50px;
  background: #FF7716;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.footer-buy .btn-yellow:active {
  background: #FF7716;
}
.footer-buy .btn-red {
  width: 100%;
  height: 50px;
  background: #DB3652;
  border: 0;
  border-radius: 0;
  color: #fff;
}
.footer-buy .btn-red:active {
  background: #DB3652;
}
/*详情*/
.details-screen {
  background: #fff;
  padding: 10px;
}
.details-screen img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.details-hd {
  background: #fff;
  padding: 0 10px 10px;
}
.details-title {
  margin-bottom: 10px;
}
.details-title label {
  background: #1E90FF;
  color: #fff;
  padding: 1px 4px;
  border-radius: 2px;
}
.details-title label.ing {
  background: #DB3652;
  color: #fff;
}
.font-grey {
  color: #888;
}
.details-winner-info {
  border: 1px solid #F7F7F7;
  padding: 5px;
}
.details-winner-info .inner {
  background: #FFF8F0;
  padding-top: 10px;
  padding-bottom: 0px;
}
.details-winner-info dl {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  color: #666;
}
.details-winner-info dt {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  max-width: 100px;
}
.details-winner-info .winner-avator {
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}
.details-winner-info .winner-avator .label-win {
  position: absolute;
  left: -13px;
  top: -13px;
  background: url(../img/winner.png) no-repeat;
  width: 60px;
  height: 60px;
  z-index: 2;
  -webkit-background-size: contain;
  background-size: contain;
}
.details-winner-info .winner-avator img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}
.details-winner-info dd {
  vertical-align: top;
  display: table-cell;
}
.details-winner-info dd b {
  font-size: 150%;
}
.lukey-number {
  margin-top: 10px;
  background: url(../img/lukey-bg.png) center repeat-x;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
}
.lukey-number:before {
  content: "";
  display: block;
  width: 7px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/lukey-bg-l.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.lukey-number:after {
  content: "";
  display: block;
  width: 7px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/lukey-bg-r.png) right center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.lukey-number .mui-row {
  display: table;
  width: 100%;
}
.lukey-number .mui-row > div {
  float: none;
  display: table-cell;
  width: auto;
  vertical-align: middle;
  padding: 10px;
  color: #fff;
  font-size: 110%;
}
.lukey-number .btn-count {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 5px;
}
.details-tips {
  background: #F7F7F7;
  padding: 1em;
  text-align: center;
  color: #888;
}
.details-bd {
  color: #888;
}
.details-bd a {
  color: #888;
}
.mui-table-view-cell:after {
  background: #E8E8E8;
}
.mui-input-group .mui-input-row:after {
  background: #E8E8E8;
}
.mui-table-view:before,
.mui-table-view:after {
  display: none;
}
.border-bottom {
  border-bottom: 1px solid #E8E8E8;
}
.details-nav span {
  font-size: 110%;
}
.details-nav em {
  font-style: normal;
  float: right;
  padding-right: 24px;
  font-size: 90%;
}
.details-nav:before,
.details-nav:after {
  display: none;
}
.font-lg {
  font-size: 110%;
}
.join-people-wrap {
  background: #fff;
}
.join-people-wrap .hd {
  font-size: 110%;
  padding: 10px 15px;
  border-bottom: 1px solid #E8E8E8;
}
.join-people-list ul {
  margin: 0;
}
.join-people-list li {
  border-bottom: 1px solid #E8E8E8;
  display: table;
  width: 100%;
}
.join-people-list .img,
.join-people-list .txt {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
}
.join-people-list .txt {
  padding-left: 10px;
}
.join-people-list .img {
  padding-left: 10px;
  width: 80px;
  text-align: center;
}
.join-people-list .img a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.join-people-list .img img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
}
/*购物车*/
.g-Cart-list {
  background: #fff;
}
.g-Cart-list ul {
  float: left;
  width: 100%;
  margin: 0;
}
.g-Cart-list li {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}
.g-Cart-list .mb10 {
  border-bottom: 10px solid #F7F7F7;
}
.g-Cart-list .u-Cart-img {
  margin: 8px 5px 0 5px;
  width: 80px;
  height: 80px;
  float: left;
}
.g-Cart-list .u-Cart-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.g-Cart-list .u-Cart-r {
  margin-left: 90px;
  margin-top: 5px;
  margin-right: 8px;
}
.g-Cart-list .z-Cart-tt a {
  color: #333;
}
.g-Cart-list em {
  font-style: normal;
}
.g-Cart-list .mui-numbox {
  width: 150px;
}
.g-Cart-list .mui-input-numbox {
  color: #DB3652;
}
.g-Cart-list .btn-del {
  font-size: 20px;
  position: absolute;
  right: 2px;
  bottom: 0;
  line-height: 35px;
  width: 35px;
  height: 35px;
  color: #8E8F8F;
  text-align: center;
}
.g-Cart-list .btn-del:active {
  color: #DB3652;
}
.g-Cart-list .f-Cart-Other {
  position: relative;
}
.g-Cart-total-wrap {
  background: #fff;
  height: 53px;
}
.g-Cart-total {
  line-height: 33px;
  color: #888;
  background: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 50px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}
.pay-validity-tips {
  color: #fff;
  background: #778899;
}
.mui-bar-nav.mui-bar .mui-icon {
  color: #fff;
}
.pay-content {
  background: #fff;
  font-size: 90%;
}
.pay-content .mui-input-group .mui-input-row {
  height: 43px;
  line-height: 43px;
}
.pay-content .p10 {
  padding-left: 15px;
  padding-right: 15px;
}
.pay-content .mui-checkbox input[type=checkbox],
.pay-content .mui-radio input[type=radio] {
  top: 8px;
  right: 15px;
}
.pay-content .mui-input-group:after {
  display: none;
}
.pay-content .mui-input-group .mui-row ~ li > a {
  color: #666;
}
.pay-content .mui-btn-block {
  margin-bottom: 0;
}
.pay-content .diy-radio a.mui-navigate-right:after {
  content: '\e411';
  display: block;
  width: 31px;
  height: 30px;
  position: absolute;
  right: 9px;
  z-index: 5;
  color: #888888;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}
.pay-content .diy-radio.mui-selected a.mui-navigate-right:after {
  content: '\e441';
  color: #DB3652;
}
.bg-grey {
  background: #F7F7F7;
}
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {
  color: #DB3652;
}
.pay-list-select {
  margin: 15px 10px 0;
}
.pay-list-select ul {
  background: 0;
}
.pay-list-select li {
  margin-bottom: 10px;
  background: #F9F4F1;
  border: 1px solid #E5E3E1;
}
.pay-list-select p {
  line-height: 42px;
}
.pay-list-select a.mui-navigate-right:after {
  display: none;
}
.pay-list-select .on a.mui-navigate-right:after {
  display: block;
  content: '\e472';
  text-align: right;
  font-size: 40px;
  color: red;
}
.mui-navigate-right.border:after {
  border: 1px solid #DB3652;
  border-radius: 50px;
  color: #DB3652;
}
.bank-manage {
  margin: 15px 10px 0;
}
.bank-manage ul {
  background: 0;
}
.bank-manage li {
  margin-bottom: 10px;
  background: #F9F4F1;
  border: 1px solid #E5E3E1;
}
.bank-manage .mui-switch.mui-active {
  border-color: #2493FF;
  background-color: #2493FF;
}
.mui-content {
  min-height: 100vh;
}
.money-flow-list {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.loading-tips {
  text-align: center;
  color: #888;
  padding: 20px;
}
header.mui-bar .mui-segmented-control {
  margin-left: 80px;
  margin-right: 80px;
  border: 1px solid #F63016;
}
header.mui-bar .mui-segmented-control .mui-control-item {
  line-height: 30px;
  background: #fff;
  color: #666;
  border-color: #F63016;
  border-left: 0;
}
header.mui-bar .mui-segmented-control .mui-control-item.mui-active {
  background: #F63016;
  color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F63016), to(#FF6B59));
  background-image: -webkit-linear-gradient(#F63016, #FF6B59);
  background-image: -moz-linear-gradient(#F63016, #FF6B59);
  background-image: -o-linear-gradient(#F63016, #FF6B59);
  background-image: linear-gradient(#F63016, #FF6B59);
}
/*充值*/
.Recharge-page .mui-table-view {
  background: #F9F4F1;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #D4CFCC;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.Recharge-page .mui-table-view .mui-media-object {
  border-radius: 50px;
}
.page-title {
  padding: 5px 10px;
  background: #CCCCCC;
}
.num-speed-row {
  text-align: center;
  height: auto;
  overflow: hidden;
  padding-top: 5px;
}
.num-speed-row a {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  background: #E8E8E8;
  border: 1px solid #D0D0D0;
  border-radius: 50px;
  color: #5F5F5F;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
.num-speed-row .number-wrap {
  margin: 5px;
}
.num-speed-row input {
  display: block;
  background: #E8E8E8;
  border: 1px solid #D0D0D0;
  border-radius: 50px;
  color: #5F5F5F;
  padding-top: 5px;
  height: 33px;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.num-speed-row a.on {
  background: #E64E4D;
  color: #fff;
  border-color: #E64E4D;
}
.page-tips {
  padding: 10px 5px;
}
.page-tips p {
  margin: 0;
  color: #E64E4D;
}
/*用户中心*/
.userhead {
  background: url(../img/user/userboxbg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
.userhead .user-avator {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 50%;
}
.userhead .user-avator img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
}
.userhead .user-name {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.userhead .user-money {
  text-align: center;
  color: #fff;
}
.btn-cz {
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #ff6c5a 0%, #f63016 99%);
  background-image: -webkit-linear-gradient(90deg, #ff6c5a 0%, #f63016 99%);
  background-image: -ms-linear-gradient(90deg, #ff6c5a 0%, #f63016 99%);
  box-shadow: 3px 5.196px 7px 0px rgba(0, 0, 0, 0.17);
}
.btn-bell {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  color: #fff;
}
.btn-bell:active {
  color: #DB3652;
}
.btn-set {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  color: #fff;
}
.btn-set:active {
  color: #DB3652;
}
.user-nav {
  line-height: 35px;
  font-size: 14px;
}
.user-nav img {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.user-nav img ~ span {
  float: left;
  line-height: 35px;
}
.user-nav li ul .mui-table-view-cell > a:not(.mui-btn) {
  padding-left: 42px;
}
.sm-txt {
  background: #fff;
  text-align: center;
  padding: 10px 10px 20px;
}
.sm-txt p {
  margin-bottom: 0;
  color: #666;
}
.head-img-a {
  line-height: 40px;
}
.head-img {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.message {
  color: #DB3652;
}
.mui-white {
  background: #fff;
}
.duobao-numbers {
  background: #FFFFFF;
  color: #666;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.duobao-numbers span {
  display: inline-block;
  width: 19.9%;
  float: left;
}
.form-mui-pull-right {
  line-height: 40px;
  padding-right: 15px;
}
.form-mui-label {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: auto !important;
}
.table-list {
  background: #F7F7F7;
}
.table-list th {
  padding: 10px 5px;
  font-weight: normal;
  border-bottom: 1px solid #E8E8E8;
}
.table-list td {
  color: #888;
  padding: 10px 5px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #E8E8E8;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after {
  background: #E8E8E8;
}
.article-box {
  padding: 15px;
}
.article-box p {
  color: #333;
}
.qz-home {
  padding: 15px;
}
.qz-home .sub {
  margin-top: 10px;
  font-size: 90%;
}
.qz-home .zz {
  padding-top: 5px;
  font-size: 85%;
}
.qz-home ul {
  margin: 0;
}
.qz-home li {
  padding-top: 15px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}
.qz-article {
  padding: 15px 0;
}
.qz-title {
  font-size: 20px;
  line-height: 1.6em;
  padding: 0 15px;
  border-bottom: 1px solid #E8E8E8;
}
.qz-article-item {
  height: auto;
  overflow: hidden;
  padding: 15px;
  border-bottom: 5px solid #F7F7F7;
}
.qz-article-item .img {
  width: 70px;
  float: left;
}
.qz-article-item .img img {
  display: block;
  width: 60px;
  height: 60px;
}
.qz-article-item .txt {
  margin-left: 70px;
}
.qz-article-item .txt p {
  color: #333;
  font-size: 14px;
}
.qz-article-item .action {
  padding-top: 10px;
  color: #999;
  border-top: 1px solid #E8E8E8;
  font-size: 13px;
}
.form-reply {
  padding: 0 15px;
}
.form-reply h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.form-reply textarea {
  border-color: #E8E8E8;
}
@media only screen and (min-width: 100px) and (max-width: 400px) {
  .xs-font14 {
    font-size: 14px;
  }
  .xs-font14 input,
  .xs-font14 select,
  .xs-font14 textarea {
    font-size: 14px;
  }
}
@media only screen and (min-width: 401px) {
  .g-Cart-list .u-Cart-img {
    width: 100px;
    height: 100px;
  }
  .g-Cart-list .u-Cart-r {
    margin-left: 120px;
  }
}
/*横屏*/
@media all and (orientation: landscape) {
}
/*竖屏*/
@media all and (orientation: portrait) {
  .other-login-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
/*# sourceMappingURL=index.css.map */
