[Unit]
Description=StatisticsSuccessRate

[Service]
WorkingDirectory=/opt/docker-lnmp/work/wwwroot/bankpay
ExecStart=/usr/bin/docker exec php-fpm bash -c "cd /var/www/html/bankpay && php think StatisticsSuccessRate"
TimeoutStopSec=3s
Type=oneshot

[Install]
WantedBy=multi-user.target

